<!DOCTYPE html>
<html>
	<head>
		<title> Cards </title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/cards.js.js"></script>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css"	
	</head>
	<body>
		<input type="button" name="drawBlackCard" style='display:none;' value="Black Card" />
		<input type="button" name="drawWhiteCard" style='display:none;' value="White Card" />
		<input type="button" name="nextCzar"      style='display:none;' value="Next Czar" />
		<div id='name_input'>
			<input type='button' name='setName' value='Submit'>
			<input type='text' name='nameText' placeholder='anon'>
		</div>
		<div id='table' style='display:none;'>
			<div id="top">
				<div id="black"> </div>
				<div id="users"> </div>
			</div>
			<div id="judge"> </div>
			<div id="submit_contain">
				<button id="submit_button" class="big_button"> submit </button>
				<div id="submit"> </div>
			</div>
			<div id="cards"> </div>
		</div>
	</body>
</html>
