body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black url('blackbkgrnd.jpg');
}

a {
  color: #00B7FF;
}

#top {
	height:200px;
}

#black {
	float:left;
}


#chat {
  float: right;
  width:525px;
  max-width:525px;
	height: 180px;
	max-height: 180px;
}

#users {
  position: relative;
  left: 0px;
  top: -190px;
	max-width: 125px;
	width: 125px;
	overflow-x: hidden;
	overflow-y: auto;
	color: white;
}

.user {
  width: 100px;
  max-width: 100px;
}

.user[czar=yes] {
	color: red;
}


#send {
  position: relative;
  top: -3px;
  left: 125px;
}

#messages {
  position: relative;
  top: 0px;
  left: 125px;
  width: 390px;
  max-width: 390px;
	height:160px;
	border: 4px dashed grey;
  overflow: auto;
}

.message {
  color: white;
  padding: 0px 10px;
  margin: 0;
}

.message[user=you] > strong {
  color: green;
}

.message[user=system] {
  color: grey;
}

#submit_contain {
	border: 4px dashed grey;
	max-height:200px;
	height:200px;
}

#submit {
	max-height:200px;
	height:200px;
	overflow:auto;
}

#cards {
	max-height:200px;
	height:200px;
}

.submitted_cards{
  margin: 4px 4px;
}

.submitted_cards:hover {
  margin: 0 0;
	border: 4px dashed grey;
}

.big_button {
	float:left;
	max-height:200px;
	height:200px;
	width:100px;
}

.name {
  display: none;
  padding: 87px 0;
	-moz-border-radius: 15px;
	border-radius: 15px;
  background: grey;
  width: 100px;
  text-align: center;
  float:left;
}

.card {
	padding: 15px 0 30px 0;
	margin: 2px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.white {
	background: white;
}

.black {
	background: #231F20;
}
